body {
  background: #2FA4FF;
  font-family: verdana;
}

header {
  background: #f7ffe5;
  text-align: center;
}

li {
  display: flex;

}


.box-main {
  background: #f7ffe5;
  width: 800px;
  height: 800px;
}

/*PARA LAS CLASES DE VALORES ABSOLUTOS*/

.a-1 {
  background: rgb(15,50,255);
  width: 300px;
  height: 55px;

}

/*colores
RGB
hezdecimal
RGBA -- transparencia
*/



.a-2 {
  background: #FFF;
  margin: 10px;
  width: 30cm;
  height: 55cm;
}

.a-3 {
  background: #rgba(100, 150, 25 250);
  margin: 10px;
  width: 30cm;
  height: 55cm;
}
.r-1 {
  background: #F7FFE5;
  width: 100%;
  height: 200px;
  margin-top: 10px;

}
